.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: center;
}

.box button {
  border: none;
  font-size: 28px;
  cursor: pointer;

}
.numbers {
  font-family: 'Exo 2', sans-serif;
}

.title{
  font-family: 'Kanit', sans-serif;
}

.about {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  max-width: 1000px;
  font-weight: 600;
  text-align: center;
}

.photos {
  max-width: 450px;
}

.delete button{
  margin-top: 30px;
  font-size: 19px;
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: darkcyan;
  font-family: 'Exo 2', sans-serif;
  border: none;
  box-shadow: 0 0 10px rgb(48, 129, 45);
  color: white;

}

.center button {
  margin-bottom: 35px;
  font-size: 16px;
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: rgb(72, 155, 130);
  font-family: 'Exo 2', sans-serif;
  border: none;
  box-shadow: 0 0 10px rgb(48, 129, 45);
  color: white;
}
.her {
  height: 3px;
  max-width: 500px;
  border-color: rgb(121, 187, 181);
  background-color: rgb(121, 187, 181);
}

body {
  background-color: rgb(173, 179, 185);
}


@media all and (max-width : 500px){
  h1 {
    font-size: 25px;
    text-align: center;
  }
  h2{
    font-size: 23px;
  }
  p{
    font-size: 17px;
  }
  .photos {
    max-width: 300px;
  }
}